:root {
	--input: 4;
	--size: 500px;
	--border: 3px;

	--colour-primary: hsla(210, 10%, 20%, 1);
	--colour-primary-light: hsla(210, 7%, 36%, 1);
	--colour-primary-dark: hsla(204, 71%, 4%, 1);
	--colour-secondary: hsla(208, 80%, 37%, 1);
	--colour-secondary-light: hsla(214, 65%, 60%, 1);
	--colour-secondary-dark: hsla(211, 100%, 24%, 1);
	--colour-text: #ffffff;
}

body {
	background-color: var(--colour-primary-dark);
	color: var(--colour-text);
}

#page {
	display: flex;
	flex-direction: column;
	height: 97vh;
	align-items: center;
	justify-content: center;
}

#calc-container {
	display: grid;
	grid-template-columns: repeat(var(--input), 1fr);
	grid-template-rows: repeat(var(--input), 1fr);
	justify-content: center;
	height: var(--size);
	width: var(--size);
	column-gap: 10px;
	row-gap: 10px;
}

#result {
	justify-content: right;
}

.calc-button {
	justify-content: center;
	background-color:
}

.calc-button,
#result {
	display: flex;
	border: var(--border) solid var(--colour-secondary-light);
	background-color: var(--colour-secondary-dark);
	border-radius: 5px;
	font-family: 'Audiowide', sans-serif;
	font-size: 72px;
	align-items: center;
	/* align-items: center; */
}

#result,
#calc-container {
	margin-top: 10px;
	margin-bottom: 10px;
	width: var(--size);
}

#equals {
	border: var(--border) solid var(--colour-secondary-dark);
	background-color: var(--colour-secondary);
}