:root {
	--grid-height: 6;
	--grid-width: 4;
	--calc-height: 65vh;
	--calc-width: 35vw;
	--border: 3px;

	--colour-primary: hsla(210, 10%, 20%, 1);
	--colour-primary-light: hsla(210, 7%, 36%, 1);
	--colour-page-background: hsla(204, 71%, 4%, 1);
	--colour-secondary: hsla(208, 80%, 37%, 1);
	--colour-secondary-light: hsla(214, 65%, 60%, 1);
	--colour-secondary-dark: hsla(211, 100%, 24%, 1);
	--colour-text: #ffffff;
}

body {
	background-color: var(--colour-page-background);
	color: var(--colour-text);
	font-family: 'Audiowide', sans-serif;
	font-size: 68px;
}

#page {
	display: flex;
	flex-direction: column;
	height: 97vh;
	align-items: center;
	justify-content: center;
}

#calc-container {
	display: grid;
	grid-template-columns: repeat(var(--grid-width), 1fr);
	grid-template-rows: repeat(var(--grid-height), 1fr);
	justify-content: center;
	height: var(--calc-height);
	width: var(--calc-width);
	column-gap: 10px;
	row-gap: 10px;
}

#result-container {
	grid-column-start: 1;
	grid-column-end: span 4;
	display: flex;
	flex-direction: column;
	padding-right: 20px;
}

#result,
#input {
	margin-left: auto;
}

#input {
	margin-top: 10px;
	font-size: 24px;
}

.calc-button {
	justify-content: center;
}

.calc-button,
#result-container {
	display: flex;
	border: var(--border) solid var(--colour-secondary-light);
	background-color: var(--colour-secondary-dark);
	border-radius: 5px;
	align-items: center;
}

#calc-container {
	margin-top: 10px;
	margin-bottom: 10px;
	width: var(--calc-width);
}

#equals {
	border: var(--border) solid var(--colour-secondary-dark);
	background-color: var(--colour-secondary);
}

#clr {
	font-size: 40px;
}